{
  "extends": "semantic-release-monorepo",
  "branches": [
    "mainline",
    "next",
    {
      "name": "beta",
      "prerelease": true,
      "channel": false
    },
    {
      "name": "alpha",
      "prerelease": true,
      "channel": false
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "type": "fix",
            "release": "patch"
          },
          {
            "type": "perf",
            "release": "patch"
          },
          {
            "type": "docs",
            "scope": "README",
            "release": "patch"
          },
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "type": "chore",
            "scope": "deps",
            "release": "patch"
          }
        ]
      }
    ],
    "@semantic-release/npm",
    "@semantic-release/release-notes-generator",
    "@semantic-release/gitlab"
  ]
}
