{
  "extends": "semantic-release-monorepo",
  "branches": [
    "mainline",
    "next",
    {
      "name": "beta",
      "prerelease": true,
      "channel": false
    },
    {
      "name": "alpha",
      "prerelease": true,
      "channel": false
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/npm",
    "@semantic-release/release-notes-generator",
    "@semantic-release/gitlab"
  ]
}
